<div class="row">
  <div *ngFor="let item of items; let i = index" class="col-3 card mt-5" style="width: 18rem;">
    <img [src]="item.img" class="card-img-top img-fluid" style="height: 200px" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.text}}</p>
      <button (click)="addNewItem(item.id)" type="button" class="btn btn-primary">{{item["btn"]}}</button>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div *ngFor="let item of items.reverse(); let i = index" class="col-3 card mt-5" style="width: 18rem;">
    <img [src]="item.img" class="card-img-top img-fluid" style="height: 200px" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.text}}</p>
      <button (click)="addNewItem(item.id)" type="button" class="btn btn-primary">{{item["btn"]}}</button>
    </div>
  </div>
</div>
